@font-face {
    font-family: "F1 Regular";
    src: url("assets/fonts/f1-regular.ttf");
}

@font-face {
    font-family: "F1 Bold";
    src: url("assets/fonts/f1-bold.ttf");
}

@font-face {
    font-family: "F1 Black";
    src: url("assets/fonts/f1-black.ttf");
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #111;
    color: white;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #037A68;
}
  
.navbar li {
    float: left;
}
  
.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "F1 Bold";
}

.speed {
    display: block;
    margin: auto;
    margin-top: 10px;
}

.speed h4 {
    font-family: "F1 Bold";
    text-align: center;
}

.speed p {
    font-family: "F1 Regular";
    text-align: center;
}

.rpm {
    display: block;
    margin: auto;
    margin-top: 10px;
}

.rpm h4 {
    font-family: "F1 Bold";
    text-align: center;
}

.rpm p {
    font-family: "F1 Regular";
    text-align: center;
}

.gear {
    display: block;
    margin: auto;
    margin-top: 10px;
}

.gear h4 {
    font-family: "F1 Bold";
    text-align: center;
}

.gear p {
    font-family: "F1 Regular";
    text-align: center;
}

.drs {
    display: block;
    margin: auto;
    margin-top: 10px;
}

.drs h4 {
    font-family: "F1 Bold";
    text-align: center;
}

.drs p {
    font-family: "F1 Regular";
    text-align: center;
}

.throttle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.throttle h3 {
    display: block;
}

.throttle .pedal {
    width: 75vw;
    height: 16px;
    margin-top: 10px;
    background-color: chartreuse;
    border: 1px solid chartreuse;
    border-radius: 8px;
}

/*.throttle .percentage {
    font-family: "F1 Regular";
    margin-left: 10px;
}*/

.brake {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.brake .pedal-brake {
    width: 75vw;
    height: 16px;
    margin-top: 10px;
    background-color: red;
    border: 1px solid red;
    border-radius: 8px;
}

h2 {
    font-family: "F1 Bold";
    text-align: center;
    margin-top: 10px;
}

h3 {
    text-align: center;
    margin-top: 10px;
    font-family: "F1 Bold";
}

footer {
    position: fixed;
    bottom: 0;
    margin: auto;
    background-color: #037A68;
    color: white;
    width: 100%;
    font-family: "F1 Regular";
    font-size: 16px;
    text-align: center;
    padding: 28px;
    display: flex;
    justify-content: center;   
    align-items: center;
    flex-direction: column;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

footer p {
    margin: 0;
    text-align: center;
}

.github {
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
    background-color: #181717;
    outline: 3px #181717 solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;
}
  
.github .text {
    color: white;
    font-weight: 700;
    font-size: 1em;
    transition: 400ms;
}
  
.github svg path {
    transition: 400ms;
}
  
.github:hover {
    background-color: transparent;
}
  
.github:hover .text {
    color: #181717;
}
  
.github:hover svg path {
    fill: #181717;
}