@font-face {
    font-family: "F1 Regular";
    src: url("assets/fonts/f1-regular.ttf");
}

@font-face {
    font-family: "F1 Bold";
    src: url("assets/fonts/f1-bold.ttf");
}

@font-face {
    font-family: "F1 Black";
    src: url("assets/fonts/f1-black.ttf");
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #111;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #037A68;
}
  
.navbar li {
    float: left;
}
  
.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "F1 Bold";
}

footer {
    position: fixed;
    bottom: 0;
    background-color: #037A68;
    color: white;
    width: 100%;
    font-family: "F1 Regular";
    font-size: 16px;
    text-align: center;
    padding: 40px;
}

.github {
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
    background-color: #181717;
    outline: 3px #181717 solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;
}
  
.github .text {
    color: white;
    font-weight: 700;
    font-size: 1em;
    transition: 400ms;
}
  
.github svg path {
    transition: 400ms;
}
  
.github:hover {
    background-color: transparent;
}
  
.github:hover .text {
    color: #181717;
}
  
.github:hover svg path {
    fill: #181717;
}